.box {
    width: 100px;
    height: 100px;
    background-color: #87ceeb;
    position:relative;

    animation: rotate infinite 30s linear;
}

.box > div {
    width: 5px;
    height: 5px;
    background-color: darkblue;
    position: absolute;
}

.top-right-corner {
    background-color: white;
    right: 0;
}

.bottom-right-corner {
    background-color: green;
    right: 0;
    bottom: 0
}

.bottom-left-corner {
    background-color: blue;
    bottom: 0;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
